body {
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: system-ui, sans-serif;
}

.cipher-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 5vh;
  display: flex;
}

.caesar-header {
  height: 25vh;
}

.cipher-description-container {
  background-color: #fff;
  border: 1px solid #000;
  width: 60%;
  margin-bottom: 3vh;
  padding: 0 2%;
  font-size: 1.5rem;
  box-shadow: 5px 5px #87878780;
}

#cipher-list-header {
  margin: 20px 0;
}

#copy-tooltip {
  color: #fff;
  background-color: #5271ffe6;
  border: 1px solid #000;
  margin-top: -2vh;
  padding: 10px;
  font-size: 1.25rem;
  position: absolute;
}

.example-test {
  color: #5271ff;
  cursor: pointer;
}

.example-test:hover {
  text-decoration: underline;
}

.form-output-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  display: flex;
}

.output-container {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  display: flex;
}

.label-input-div {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  display: flex;
}

.label-input-div {
  &:focus-within {
    color: #5271ff;
  }
}

.form-input {
  border: 1px solid #000;
  outline: none;
  height: 2.5rem;
  margin-left: 20px;
  padding: 5px;
  font-size: 1.25rem;
  transition: box-shadow .3s;
  box-shadow: 5px 5px #87878780;
}

#output-type-section {
  width: 100%;
}

.form-input:focus {
  box-shadow: none;
}

#cipher-form {
  background-color: #fff;
  border: 1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  padding: 1% 0 1% 2%;
  font-size: 2rem;
  display: flex;
  box-shadow: 5px 5px #87878780;
}

.result-container {
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  width: 45vw;
  margin-top: 3vh;
  padding: 0 1%;
  font-size: 1.5rem;
  box-shadow: 5px 5px #87878780;
}

.result-text {
  cursor: pointer;
}

.result-text:hover {
  color: #5271ff;
  text-decoration: underline;
}

.copied, .copied:hover {
  color: purple;
  text-decoration: underline;
}

@media screen and (width <= 768px) {
  #copy-tooltip {
    margin-top: -5vh;
  }

  .cipher-description-container {
    width: 80%;
    margin: 0 50px;
    padding: 5%;
  }

  .form-input {
    width: 90%;
    height: 2.75rem;
    margin-top: 10px;
    margin-left: 0;
  }

  .result-container {
    width: 80vw;
  }

  .label-input-div {
    flex-direction: column;
    align-items: flex-start;
  }

  #cipher-form {
    width: 80%;
    margin-top: 3vh;
    font-size: 1.25rem;
  }

  #submit-button {
    width: 50%;
    font-size: 1.25rem;
  }

  .form-output-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .caesar-header {
    max-width: 90%;
    margin-top: -5vh;
    margin-bottom: -5vh;
  }
}
/*# sourceMappingURL=index.1c7f9f0a.css.map */
