body {
  margin: 0 auto;
  font-family: system-ui, sans-serif;
  background-color: whitesmoke;
}

.cipher-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5vh;
}

.caesar-header {
  height: 25vh;
}

.cipher-description-container {
  width: 60%;
  font-size: 1.5rem;
  background-color: white;
  margin-bottom: 3vh;
  padding: 0 2%;
  box-shadow: 5px 5px 0px rgba(135, 135, 135, 0.5);
  border: black 1px solid;
}

#cipher-list-header {
  margin: 20px 0;
}

#copy-tooltip {
  position: absolute;
  padding: 10px;
  background-color: rgba(82, 113, 255, 0.9);
  color: #fff;
  font-size: 1.25rem;
  margin-top: -2vh;
  border: black 1px solid;
}

.example-test {
  color: #5271ff;
  cursor: pointer;
}

.example-test:hover {
  text-decoration: underline;
}

.form-output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

.output-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.label-input-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 15px 0px;
}
.label-input-div {
  &:focus-within {
    color: #5271ff;
  }
}
.form-input {
  margin-left: 20px;
  height: 2.5rem;
  border: 1px black solid;
  padding: 5px;
  outline: none;
  box-shadow: 5px 5px 0px rgba(135, 135, 135, 0.5);
  transition: box-shadow 0.3s ease;
  font-size: 1.25rem;
}

#output-type-section {
  width: 100%;
}

.form-input:focus {
  box-shadow: none;
}

#cipher-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: white;
  padding: 1% 0;
  padding-left: 2%;
  width: 45vw;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(135, 135, 135, 0.5);
}

.result-container {
  background-color: white;
  margin-top: 3vh;
  width: 45vw;
  padding: 0 1%;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(135, 135, 135, 0.5);
}

.result-text {
  cursor: pointer;
}

.result-text:hover {
  color: #5271ff;
  text-decoration: underline;
}

.copied,
.copied:hover {
  color: purple;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  #copy-tooltip {
    margin-top: -5vh;
  }
  .cipher-description-container {
    width: 80%;
    margin: 0 50px;
    padding: 5%;
  }

  .form-input {
    margin-left: 0;
    margin-top: 10px;
    width: 90%;
    height: 2.75rem;
  }

  .result-container {
    width: 80vw;
  }

  .label-input-div {
    flex-direction: column;
    align-items: flex-start;
  }

  #cipher-form {
    margin-top: 3vh;
    width: 80%;
    font-size: 1.25rem;
  }

  #submit-button {
    font-size: 1.25rem;
    width: 50%;
  }

  .form-output-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .caesar-header {
    max-width: 90%;
    margin-top: -5vh;
    margin-bottom: -5vh;
  }
}
